// Monedas styles


// Column styles


// Coin styles




.NextLevelButton {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto 30px auto;
  width: 100%;
  height: 50px;
  background-color: #44B39D;
  cursor: pointer;
  color: white;
  & Button {
    width: 100%;
    color: white;
    font-size: 20px;
  }
}


@media screen and(max-width: 500px) {

}