.card {
   background-color: white;
   border-radius: 0.7rem;
   -webkit-box-shadow: 0px 0px 27px -1px rgba(0, 0, 0, 0.75);
   -moz-box-shadow: 0px 0px 27px -1px rgba(0, 0, 0, 0.75);
   box-shadow: 0px 0px 27px -1px rgba(0, 0, 0, 0.75);
   display: flex;
   flex-direction: column;
   overflow: hidden;

   &-image {
      & img {
         height: auto;
         max-width: 100%;
         vertical-align: middle;
      }
   }

   &-content {
      padding: 1rem;
      background: #007BA7;
      &--title {
         color: #ffffff;
         font-size: 22px;
         font-weight: 700;
         letter-spacing: 1px;
         text-transform: capitalize;
         margin: 0px;
      }
      &--text {
         color: #ffffff;
         font-size: 17px;
         line-height: 1.5;
         margin-bottom: 1.25rem;
         font-weight: 400;
      }
   }
}

@media (max-width: 768px){
   .bodyContainer-cards-item {
      width: 320px !important;
   }
}
