.bodyContainerMenuJuegos {
  max-width: 100%;
  margin: 0 auto;
  &-cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    &-itemJuego {
      width: 300px;
      display: flex;
      margin-top: 60px;
      padding: 3rem;
    }
  }
}

.Bienvenido1{
  text-align: center;
  color: grey;
  font-size: 35px;
  margin-top: 3%;
  position: relative;
  display: flex; 
  align-items: center;
  justify-content: center;
}

.Bienvenido2{
  text-align: center;
  color: grey;
  font-size: 20px;
  margin-top: 7%;
  position: relative;
  display: flex; 
  align-items: center;
  justify-content: center;
}
.MuiButton-root {
  border-radius: 0.7rem !important;
  padding: 0px !important;
}


@media (max-width: 1280px) {
  .bodyContainer {
    &-cards {
      &-item {
        width: 300px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .bodyContainer {
    &-cards {
      &-item {
        width: 400;
        padding: 1rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .bodyContainer {
    &-cards {
      &-item {
        width: 400px;
        padding: 1rem;
      }
    }
  }
  .spanNavBar{
    display:none;
  }
}
