.MenuJuegosContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  &--title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &--cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .Link {
      text-decoration: none;
    }
    &-item {
      margin: 50px;
      width: 350px;
      max-height: 480px;
      min-height: 480px;
      border-radius: 15px;
      background-color: #007BA7;
      color:white;
      cursor: pointer;
      transition: .3s;
      text-align: center;

      &:hover {
        background-color: #0390c6;
        transform: scale(1.02);
      }
      &-imgBackground{
        background-color: rgba(255, 255, 255, 0.14);
        img{
          margin: 10px;
          width: 200px;
          height: 200px;
        }
      }
      &-description {
        margin: 10px;
        p {
          color: white;
          font-size: 22px;
          line-height:1.2;
        }
      }

    }
  }
}

@media (max-width: 1280px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}


@media (max-width: 520px) {
  .MenuJuegosContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    &--title{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    &--cards {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      .Link {
        text-decoration: none;
      }
      &-item {
        margin: 20px;
        width: 320px;
        max-height: 420px;
        min-height: 420px;
        border-radius: 15px;
        background-color: #007BA7;
        color:white;
        cursor: pointer;
        transition: .3s;
        text-align: center;
        &-imgBackground{
          background-color: rgba(255, 255, 255, 0.14);
          img{
            margin: 10px;
            width: 150px;
            height: 150px;
          }
        }
        &-description {
          margin: 10px;
          p {
            padding: 10px;
            color: white;
            font-size: 18px;
          }
        }

      }
    }
  }
}
