.MenuGames {
  display: flex;
  list-style: none;
  & li {
    margin-right: 20px;
    font-size: 18px;
    cursor: pointer;

    & .MenuNavbarButton {
      font-size: 20px;
      color: white;
      border-radius: 3px !important;
      width: 150px;
      &:hover, &:active, &:focus {
        background-color: transparent;
      }
      & span {
        transition: .2s;
        &:hover{
          text-shadow: 5px 2px 5px rgba(4, 10, 8, 0.58);
        }
      }
    }
  }
}


@media (max-width: 740px) {
  .MenuGames {
    overflow-x: hidden;
    & li {
      cursor: pointer;
      &:nth-child(1){
        padding-right: 5px;
      }
      &:nth-child(2){
        padding-right: 5px;
        margin-right: 13px;
      }
      &:nth-child(3){
        padding-right: 5px;
      }
      & .MenuNavbarButton {
        width: 70px;
        font-size: 13px;
        color: white;
      }
    }
  }

}
