.header {
   color: white;
   overflow-x: hidden;
   &-body {
      height: 100vh;
      background: rgba(196, 196, 196, 0.315) url(../../../assets/Images/kidLaptop.jpg) no-repeat fixed center;
      background-size: cover;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &--inputs {
         background: rgba(149, 149, 149, 0.41);
         width: 500px;
         height: 550px;
         opacity: 1;
         border-radius: 15px;
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
         &-title {
            color: white;
         }
         &-divInput {
            &-input {
               text-align: center;
               outline: none;
               border: none;
               background: rgba(205, 206, 204, 0.42);
               width:400px;
               height: 60px;
               font-size: 30px;
               color: white;
               border-radius: 10px;
               padding: 10px;
               margin: 10px;
               &::placeholder {
                  color: white;
               }
            }
         }


         & .formSubmitButton {
            width: 420px;
            height: 70px;
            margin: 10px;
            outline: none;
            border-radius: 10px;
            font-size: 18px;
            background: #45B39D;
            color: white;
            transition: .5s;
            cursor: pointer;
            border-color: transparent;
            &:hover, &:active, &:focus {
               background: white;
               color: #45B39D;
            }
         }

         .divViewSpan {
            margin: 12px;
            .formViewSpan {
               font-size: 15px;
               color: white;
               cursor: pointer;
               transition: .2s;
               &:hover {
                  color: #1b493f;

               }
            }
         }


      }
   }
}


@media (max-width: 450px) {
   .header {
      &-body {
         &--inputs {

            &-divInput {
               &-input {
                  width: 300px;
                  &::placeholder {
                  }
               }
            }
   
   
            & .formSubmitButton {
            width: 320px;

               &:hover, &:active, &:focus {
               }
            }
   
            .divViewSpan {
               .formViewSpan {
                  &:hover {
   
                  }
               }
            }
   
   
         }
      }
   }
   
 }
