.MenuUl {
  display: flex;
  list-style: none;
  & li {
    height: 30px;
    color: white;
    margin-right: 34px;
    margin-top: 10px;
    & a {
      color: white;
      text-decoration: none;
      transition: .3s;
      &:hover {
        font-size: 17px;
      }
      &:visited {
        color: white;
      }
    }
  }
}