.MenuUl {
  display: flex;
  list-style: none;
  & li {
    height: 30px;
    color: white !important;
    margin-right: 34px;
    & a {
      color: white !important;
      text-decoration: none;
      transition: .3s;
      &:hover {
        font-size: 17px;
      }
      &:visited {
        color: white !important;
      }
    }
  }
}