.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  background: rgba(196, 196, 196, 0.315) url(../../../assets/Images/pencilHeader.jpg) no-repeat center;
  background-size: cover;
  text-align: center;

  &-box {
    background: rgba(255, 255, 255, 0.5);
    width: 450px;
    height: 450px;
    border-radius: 20px 20px 10px 10px;
    -moz-border-radius: 20px 20px 10px 10px;
    -webkit-border-radius: 20px 20px 10px 10px;
    &--header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      background: #45B39D;
      border-radius: 20px 20px 0px 0px;
      -moz-border-radius: 20px 20px 0px 0px;
      -webkit-border-radius: 20px 20px 0px 0px;
      h1 {
        margin: 0;
        color: #ffffff;
      }
    }
    &--form {
      margin: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: left;
      font-size: 20px;
      &--email {
        margin: 30px;
        #emailInput {
          padding-left: 15px;
          border: 1px solid;
          border-radius: 20px;
          width: 350px;
          height: 40px;
          font-size: 16px;
        }
        div {
          padding-bottom: 10px;
        }
      }
      &--password {
        margin: 30px;
        #passwordInput {
          padding-left: 15px;
          border: 1px solid;
          border-radius: 20px;
          width: 350px;
          height: 40px;
          font-size: 16px;

        }
        div {
          padding-bottom: 10px;
        }
      }
      &--button {
        text-align: center;
        Button {
          width: 250px;
          color: white;
          background: #F50057;
          font-size: 15px;
        }
        Button:hover {
          background: #45B39D;

        }
      }
    }
  }
}


